.git
.cache
.local
.replit
.expo
.expo-shared
node_modules
**/node_modules
dist
**/dist
coverage
tmp
out-tsc
*.tsbuildinfo
npm-debug.log
yarn-error.log
pnpm-debug.log
.env
.env.*
!.env.example
**/.env
**/.env.*
!**/.env.example
artifacts/mobile/static-build
artifacts/landing/dist
artifacts/api-server/dist
infra/pgadmin/pgpass
